node_modules/
**/node_modules/
dist/
**/dist/
build/
**/build/
coverage/
**/coverage/
__pycache__/
**/__pycache__/
.ruff_cache/
**/.ruff_cache/
.pytest_cache/
**/.pytest_cache/
.venv/
**/.venv/
.env
**/.env
npm-debug.log*
yarn-error.log*
.DS_Store
